name: Build Windows EXE

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: cmd
        working-directory: python-exe

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Build EXE
        run: |
          pyinstaller captcha_server.py ^
            --onefile ^
            --collect-all tensorflow ^
            --collect-all keras ^
            --collect-all cv2 ^
            --hidden-import uvicorn ^
            --hidden-import uvicorn.logging ^
            --hidden-import uvicorn.loops ^
            --hidden-import uvicorn.loops.auto ^
            --hidden-import uvicorn.protocols ^
            --hidden-import uvicorn.protocols.http ^
            --hidden-import uvicorn.protocols.websockets ^
            --add-data "ocr_ctc_infer_safe_v12.keras;."

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: captcha-server-exe
          path: python-exe/dist/captcha_server.exe
